/* ------------------------------------------------------- */
/*BASIC SETUP*/
/* ------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0%;
  visibility: hidden;
}
/* ------------------------------------------------------- */
/*REUSABLE COMPONENTS*/
/* ------------------------------------------------------- */

.row {
  max-width: 90%;
  margin: 0 auto 0 auto;
}

section {
  padding: 80px;
}

.box {
  padding: 1%;
}

/* ------------------------------------------------------- */
/*HEADINGS*/
/* ------------------------------------------------------- */

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 240%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  margin-top: 30px;
  margin: 20px auto;
  content: " ";
  background-color: rgb(89, 205, 255);
}

h3 {
  font-size: 103%;
  margin-bottom: 10%;
}

/*---------PARAGRAPH ----*/

.long-copy {
  width: 80%;
  line-height: 145%;
  margin-left: 10%;
  text-align: center;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*---------ICONS ----*/

.icon-big {
  font-size: 300%;
  display: block;
  color: rgb(89, 205, 255);
  margin-bottom: 10px;
  margin-left: 25%;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: rgb(89, 205, 255);
  font-size: 120%;
  margin-right: 10px;

  /* secrets to align txt and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -6px;
}

/*---------LINKS ----*/

a:link,
a:visited {
  color: rgb(89, 205, 255);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(89, 205, 255);
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*---------BUTTONS ----*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  border: 1px solid;
  color: white;
  border-color: rgb(89, 205, 255);
  background-color: rgb(89, 205, 255);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid;
  border-color: rgb(89, 205, 255);
  color: rgb(89, 205, 255);
}

.btn:hover,
.btn:active {
  background-color: rgb(89, 205, 255);
}

/* ------------------------------------------------------- */
/*HEADER*/
/* ------------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 35px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 6px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(89, 205, 255);
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------------------------------- */
/*FEATURES*/
/* ------------------------------------------------------- */
.section-features .long-copy {
  margin-bottom: 30px;
}
/* ------------------------------------------------------- */
/*MEALS*/
/* ------------------------------------------------------- */

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
}

.meal-photo img:hover {
  transform: scale(1.03);
  transition: transform 0.5s opacity 0.5s;
  opacity: 1;
}

.section-meals {
  padding: 0;
}

/* ------------------------------------------------------- */
/*HOW IT WORKS*/
/* ------------------------------------------------------- */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
  height: auto;
}

.works-step {
  margin-bottom: 50px;
}
.btn-app:link,
.btn-app:visited {
  border: 0;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: rgb(89, 205, 255);
  border: 2px solid rgba(45, 44, 44, 0.515);
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
  float: left;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------------------- */
/*CITY SECTION*/
/* ------------------------------------------------------- */

.box img {
  width: 100%;
  height: auto;
}

.city-feature {
  margin-bottom: 5px;
}

/*-------------------------------------------------- */
/*TESTIMONIALS*/
/* ------------------------------------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85)),
    url(img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
}

blockquote:before {
  content: "\201C";
  display: block;
  position: absolute;
  top: -5px;
  left: 1.5%;
  font-size: 300%;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
